@charset "UTF-8";
//背景色
$bg-base:#f7f7f7;
//绿色
$green-base:#036DED;
//橙色
$orange-base:#ff5823;

// //dpr字体转换
// @mixin font-dpr($font-size) {
//   font-size: ($font-size + 2) / 2;

//   @media (-webkit-min-device-pixel-ratio: 3),
//   (min-device-pixel-ratio: 3) {
//     & {
//       // font-size: ($font-size + 4) / 2;
//     }
//   }

//   @media (-webkit-min-device-pixel-ratio: 4),
//   (min-device-pixel-ratio: 4) {
//     & {
//       // font-size: ($font-size + 6) / 2;
//     }
//   }
// }

%clearfix {
  *zoom: 1;

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: "\20";
    clear: both;
    height: 0;
  }
}

//移除input type="number"时上下箭头
%numberArrow {

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
  }
}

//ico图标
%icoRem {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

// 1像素.before在手机上无法显示
@mixin border1px($color:#e6e6e6, $type:bottom, $label:after) {
  position: relative;

  &::#{$label} {
    content: '\20';
    display: block;
    position: absolute; // 上 右 下 左

    @if $type==top {
      border-top: 1PX solid $color;
      left: 0;
      top: 0;
      width: 100%;
      transform-origin: top center;

      @media (-webkit-min-device-pixel-ratio: 2),
      (min-device-pixel-ratio: 2) {
        & {
          transform: scaleY(0.5);
        }
      }

      @media (-webkit-min-device-pixel-ratio: 3),
      (min-device-pixel-ratio: 3) {
        & {
          transform: scaleY(0.33);
        }
      }
    }

    @else if $type==right {
      border-left: 1PX solid $color;
      right: 0;
      top: 0;
      height: 100%;
      transform-origin: center right;

      @media (-webkit-min-device-pixel-ratio: 2),
      (min-device-pixel-ratio: 2) {
        & {
          transform: scaleX(0.5);
        }
      }

      @media (-webkit-min-device-pixel-ratio: 3),
      (min-device-pixel-ratio: 3) {
        & {
          transform: scaleX(0.33);
        }
      }
    }

    @else if $type==bottom {
      border-top: 1PX solid $color;
      left: 0;
      bottom: 0;
      width: 100%;
      transform-origin: bottom center;

      @media (-webkit-min-device-pixel-ratio: 2),
      (min-device-pixel-ratio: 2) {
        & {
          transform: scaleY(0.5);
        }
      }

      @media (-webkit-min-device-pixel-ratio: 3),
      (min-device-pixel-ratio: 3) {
        & {
          transform: scaleY(0.33);
        }
      }
    }

    @else if $type==left {
      border-left: 1PX solid $color;
      left: 0;
      top: 0;
      height: 100%;
      transform-origin: center left;

      @media (-webkit-min-device-pixel-ratio: 2),
      (min-device-pixel-ratio: 2) {
        & {
          transform: scaleX(0.5);
        }
      }

      @media (-webkit-min-device-pixel-ratio: 3),
      (min-device-pixel-ratio: 3) {
        & {
          transform: scaleX(0.33);
        }
      }
    }
  }
}

// 处理图片背景
@mixin bgImage($url) {
  background-image: url($url + "@2x.png");

  @media (-webkit-min-device-pixel-ratio: 3),
  (min-device-pixel-ratio: 3) {
    background-image: url($url + "@3x.png");
  }

  @media (-webkit-min-device-pixel-ratio: 4),
  (min-device-pixel-ratio: 4) {
    background-image: url($url + "@4x.png");
  }
}

//css三角形
@mixin arrow($type, $w:5px, $c:#ccc) {
  width: 0;
  height: 0;
  overflow: hidden;

  @if $type==top {
    border-width: $w;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent $c transparent;
  }

  @else if $type==right {
    border-width: $w;
    border-style: dashed dashed dashed solid;
    border-color: transparent transparent transparent $c;
  }

  @else if $type==bottom {
    border-width: $w;
    border-style: solid dashed dashed dashed;
    border-color: $c transparent transparent transparent;
  }

  @else if $type==left {
    border-width: $w;
    border-style: dashed solid dashed dashed;
    border-color: transparent $c transparent transparent;
  }
}

@mixin transition() {
  transition: all 0.3s ease;
}

//透明度
@mixin opacity($opacity:50) {
  opacity: $opacity / 100;
  filter: alpha(opacity=$opacity);
}

// 超出...
@mixin textOverflow($line: 1) {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

//图片变灰色
@mixin grayscale($scale: 100%) {
  -webkit-filter: grayscale($scale);
  -moz-filter: grayscale($scale);
  -ms-filter: grayscale($scale);
  -o-filter: grayscale($scale);
  filter: grayscale($scale);
  filter: gray;
}

//绿色竖线
@mixin greenBorder($label:before) {
  position: relative;

  &::#{$label} {
    content: '';
    position: absolute;
    width: pxTorem(4px);
    height: pxTorem(26px);
    background: #00bb9c;
    display: inline-block;
    margin-left: pxTorem(-12px);
  }
}

/***********************************************/